<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$tpltitle}后台用户</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel='stylesheet' type='text/css' href='__PUBLIC__/Admin/css/admin_style.css' />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/formValidator.js"></script>
<script type="text/javascript">
	
</script>
</head>
<body>		
		<form action="{:U('/Admin/Company/batchadd/',array('eid'=>$eid))}" method="post" name="form" enctype="multipart/form-data" id="myform">
			<table width="100%" border="0" cellpadding="4" cellspacing="1" class="table">

				<tr class="table_title">
					<td colspan="4">{$tpltitle}展商</td>
				</tr>
				<tr class="tr rt">
					<td width="100">展会：</td>
					<td colspan="3" class="lt">
						<input type="text" name="expoName" id="expoName" readonly="readonly" style="width:400px" value="{$expoName}">
						
						<input type="text" name="eid" id="eid" hidden="true" style="width:400px" value="{$eid}">
					</td>
				</tr>
				<tr class="tr rt">
					<td width="100">上传Excel：</td>
					<td colspan="3" class="lt">
						<input type="file" name="name" id="name" style="width:400px" value="{$info.name}" <eq name="info.name" value="$Think.config.SPECIAL_USER">readonly="readonly"</eq>>
					</td>
				</tr>
								
	<tr class="tr lt">
		<td colspan="4">
			<gt name="info.id" value="0">
				<input class="bginput" type="submit" name="dosubmit" value="修 改" >
				<else />
				<input class="bginput" type="submit" name="dosubmit" value="添 加"></gt>
			&nbsp;
			<input class="bginput" type="button" onclick="javascript:history.back(-1);" value="返 回" ></td>
	</tr>
</table>
</form>
<include file="Index:footer" />
</body>
</html>